

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: black;
  font-family: 'Georgia', serif;
  background-color: #8cd2e9;
}

.title{
  display:flex;
  flex-direction: column; /* defines the main axis */
  justify-content: center; /* justify-content aligns items along the main axis */
  align-items: center; /* align-items aligns items along the axis perpendicular to the main axis */
  background:#e2e0e0;
  border-radius:8px;
  text-align: center;
}

#top-row{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items:center;
  background-color: rgb(25, 70, 167);
  min-height: 100px;
}